<!DOCTYPE html>
<head>
    <title>Playing Game</title>
    <link rel="stylesheet" href="/css/base.css">
	<style>
		table, th, td {
			border-collapse: collapse;
			padding: 0.5rem;
			border: 1px solid black;
		}
		table input {
			width: 10rem;
		}
		table#data input {
            width: 1rem;
        }
	</style>
</head>
<body>
    <div>
		<h3>Worker {{ wrk_num+1 }}: {{ worker.username }}</h5>
		<h4 id="round-num">Round Number: {{ game.step_num+1 }}     Max WIP: {{ game.max_wip }}</h4>
		<table cellspacing="10">
			<thead>
				<td>Label</td>
				<td colspan="2">Supply</td>
				{% for wrk in game.workers %}
					{% if wrk.username|length > 0 %}
						<td colspan="2" id='wrk-{{ loop.index0 }}-username'>{{ wrk.username }}</td>
					{% else %}
						<td colspan="2" id='wrk-{{ loop.index0 }}-username'>Worker {{ loop.index0+1 }}</td>
					{% endif %}
				{% endfor %}
				<td colspan="2">Manufactured</td>
			</thead>
			<tr>
				<td>Work In Progress</td>
				<td colspan="2" id='supply'>{{ game.supply }}</td>
				{% for wrk in game.workers %}
					<td colspan="2" id='wrk-{{ loop.index0 }}-wip-queue'>{{ wrk.wip_queue }}</td>
				{% endfor %}
				<td colspan="2" id="end-amount">{{ game.end_amount }}</td>
			</tr>
			<tr>
				<td>Production Output</td>
				<td colspan="2" id='supply-prod'>{{ game.supply_production }}</td>
				{% for wrk in game.workers %}
					<td colspan="2" id='wrk-{{ loop.index0 }}-prod'>-</td>
				{% endfor %}
				<td colspan="2"></td>
			</tr>
			<tr>
				<td>🎲 Production Rate</td>
				<td colspan="2" id='supply-roll'>{{ game.supply_roll }}</td>
				{% for wrk in game.workers %}
					<td colspan="2" id='wrk-{{ loop.index0 }}-roll'>{{ wrk.roll_num }}</td>
				{% endfor %}
				<td colspan="2"></td>
			</tr>
			<tr>
				<td>🎲 Rolled</td>
				<td colspan="2" id='supply-rolled'></td>
				{% for wrk in game.workers %}
					{% if wrk.rolled %}
						<td colspan="2" id='wrk-{{ loop.index0 }}-rolled'>✅</td>
					{% else %}
						<td colspan="2" id='wrk-{{ loop.index0 }}-rolled'>❌</td>
					{% endif %}
				{% endfor %}
				<td colspan="2"></td>
			</tr>
			<tr>
				<td>Multiplier</td>
				<td colspan="2" id='supply-mult'>{{ game.supply_multiplier }}</td>
				{% for wrk in game.workers %}
					<td colspan="2" id='wrk-{{ loop.index0 }}-mult'>{{ wrk.multiplier }}</td>
				{% endfor %}
				<td colspan="2"></td>
			</tr>
			<tr>
				<td>Roll Min/Max</td>
				<td id='supply-min'>{{ game.supply_rng_min }}</td>
				<td id='supply-max'>{{ game.supply_rng_max }}</td>
				{% for wrk in game.workers %}
					<td id='wrk-{{ loop.index0 }}-min'>{{ wrk.rng_min }}</td>
					<td id='wrk-{{ loop.index0 }}-max'>{{ wrk.rng_max }}</td>
				{% endfor %}
				<td colspan="2"></td>
			</tr>
		</table>
		<br>
		<table style="margin: auto;">
			<td>
				<button onclick="window.location.reload()" name="btn">Update (Reload Page)</button>
			</td>
			<td>
				<button onclick="roll_self()" name="btn">Roll</button>
			</td>
			<td id="round-button" style="display: none;">
				<button onclick="next_step()" name="btn">Next Round</button>
			</td>
		</table>
        <br>
        <a href="/">Main Page</a>
    </div>
</body>
<script src="/js/update.js"></script>
<script>
	function roll_self() {
		fetch('/api/player/roll_self', {
		method: 'POST',
		credentials: 'same-origin'
		}).then(call_update());
	}
	function next_step() {
		fetch('/api/player/next_step', {
		method: 'POST',
		credentials: 'same-origin'
		}).then(call_update());
	}
	const interval = setInterval(function() {
		call_update();
	}, 3000);
	call_update();
</script>